
/.metadata
/google-appengine-plugin-1.2.x-hacks/.settings
/google-appengine-plugin-1.2.x-hacks/bin
.settings
war/WEB-INF/appengine-generated
war/WEB-INF/classes
war/WEB-INF/lib/*.jar
.gradle
/soapui.log
/datanucleus-jpa-one-to-many-bug/
