#pingURL {
	width: 400px;
}
#cronString {
	width: 200px;
}
#validatingRegexp {
	width: 200px;
}
#reportEmail {
	width: 200px;
}
div.t-beaneditor-row span {
	clear:left;
	display:block;
	float:left;
	padding-right:3px;
	text-align:right;
	vertical-align:middle;
	width:250px;
}
#lastPingDetails {
	width: 70%;
	height: 200px;
}