body, table, tr, td, input, textarea {
	font-family: Arial, Sans-Serif;
	font-size: 13px;
}

h2 {
	margin-top: 0px;
}

.topbar {
	display: inline; 
	float: right;
	margin-top: -4px;
}

a.external {
	background: transparent url(../images/external.png) no-repeat scroll right center;
	display: inline-block;
	margin-left: 2px;
	height: 11px;
	width: 11px;
	zoom: 1;
}

.status-okay, .status-warning, .status-error, .status-na {
	padding-left: 22px;
}

.status-okay {
	background: transparent url(../images/tick.png) no-repeat left center;
	background-position: 2px;
	color: green;
}

.status-warning {
	background: transparent url(../images/bullet_error.png) no-repeat left center;
	background-position: 2px;
	color: orange;
}

.status-error {
	background: transparent url(../images/exclamation.png) no-repeat left center;
	background-position: 2px;
	color: red;
}

.status-na {
}

.admin-tasks {
	float: right;
	margin-right: 10px;
	padding: 5px;
    border: 1px solid gray;
}

.logo {
	vertical-align: text-bottom;
}

.job:nth-child(even) {
    background-color: #E8E8E8;
}