.c-cd {
	text-align: center;
	padding-bottom: 1px !important;
}

.chartTitle {
	text-align: left;
	border-bottom: 1px #999 solid;
}

.adminTasks {
	float: right;
	margin-right: 10px;
	padding: 5px;
    border: 1px solid gray;
}

.overviewChartsButton {
    float: right;
    align: right;
}

.cubeToolbar {
	padding-bottom: 2px;
}