.c-cd {
    text-align: center;
    padding-bottom: 1px !important;
}

.chartTitle {
    text-align: left;
    border-bottom: 1px #999 solid;
}

.overviewChartsButton {
    float: right;
    align: right;
}

.cubeToolbar {
    padding-bottom: 2px;
}

.hoverable {
    border-bottom: 1px dotted gray;
}

#map_canvas {
    width: 100%;
    height: 300px;
}
