table, td, th {
	border: 1px gray solid;
}

td, th {
	border-bottom-style: none;
	border-right-style: none;
	padding: 8px;
	vertical-align: top;
}

table {
	border-left-style: none;
	border-top-style: none;
	width: 50%;
}