<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <context-param>
        <param-name>tapestry.app-package</param-name>
        <param-value>dmitrygusev.ping</param-value>
    </context-param>
    <filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>logMessage</param-name>
            <param-value>Appstats available: /appstats/details?time={ID}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/appstats/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/task/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
 <!--OnPositive Tools-->
<servlet>
		<servlet-name>profilerServlet</servlet-name>
		<servlet-class>com.onpositive.gae.tools.servlets.ProfilerServlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>profilerServlet</servlet-name>
		<url-pattern>/appwrench/profiler</url-pattern>
</servlet-mapping>
<filter id="profilerFilter">
	 <filter-name>profileJsp</filter-name>
     <filter-class>com.onpositive.gae.tools.servlets.JSPFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>profileJsp</filter-name>
        <url-pattern>*.jsp</url-pattern>
</filter-mapping>
<servlet>
<servlet-name>SessionAuth</servlet-name>
<servlet-class>com.onpositive.auth.AuthServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SessionAuth</servlet-name>
<url-pattern>/appwrench/auth</url-pattern>
</servlet-mapping>
</web-app>
